<section class="capitals">
  <header class="capitals__header">
    <h2 class="title-primary-lg">Capitais</h2>
  </header>
  <div class="capitals__list-min-max thin">Min Max</div>
  <ul class="capitals__list">
    <li class="capitals__item">
      <div class="capitals__item-max-min">
        <div>18</div>
        <div>27</div>
      </div>
      <div class="capitals__item-city">
        Rio de Janeiro
      </div>
    </li>
    <li class="capitals__item">
      <div class="capitals__item-max-min">
        <div>18</div>
        <div>27</div>
      </div>
      <div class="capitals__item-city">
        Rio de Janeiro
      </div>
    </li>
    <li class="capitals__item">
      <div class="capitals__item-max-min">
        <div>18</div>
        <div>27</div>
      </div>
      <div class="capitals__item-city">
        Rio de Janeiro
      </div>
    </li>
    <li class="capitals__item">
      <div class="capitals__item-max-min">
        <div>18</div>
        <div>27</div>
      </div>
      <div class="capitals__item-city">
        Rio de Janeiro
      </div>
    </li>
    <li class="capitals__item">
      <div class="capitals__item-max-min">
        <div>18</div>
        <div>27</div>
      </div>
      <div class="capitals__item-city">
        Rio de Janeiro
      </div>
    </li>
  </ul>
</section>