<section class="container-lg top-links">
  <header class="top-links__header">
    <h2 class="title-secondary">Top 5</h2>
  </header>
  <ul class="top-links__list">
    <li class="top-links__list-item">
      <a href="#" class="top-links__link">https://chr.dc/xyzxyz</a>
      <div class="top-links__hints txt--gray-dark">7.9919</div>
    </li>
    <li class="top-links__list-item">
      <a href="#" class="top-links__link">https://chr.dc/xyzxyz</a>
      <div class="top-links__hints txt--gray-dark">7.9919</div>
    </li>
    <li class="top-links__list-item">
      <a href="#" class="top-links__link">https://chr.dc/xyzxyz</a>
      <div class="top-links__hints txt--gray-dark">7.9919</div>
    </li>
    <li class="top-links__list-item">
      <a href="#" class="top-links__link">https://chr.dc/xyzxyz</a>
      <div class="top-links__hints txt--gray-dark">7.9919</div>
    </li>
  </ul>
</section>