@import '../scss/abstracts/variables';

.app {
    background-image: linear-gradient(to bottom, $color-primary 5%, $color-primary-light);
    &__wrapper{
        margin: 0 25%;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
}