.capitals {
    padding: 2.5rem 4rem 0;
    &__header {
        margin-bottom: 1.5rem;
    }
    &__list-min-max {
        margin-bottom: 1.25rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        font-weight: 900;
        color: $gray-dark;
        &:not(:last-child) {
            margin-bottom: 2.25rem;
        }
    }
    &__item-max-min {
        margin-right: 1.5rem;
        flex: 0 0 17%;
        display: flex;
        justify-content: space-between;
    }
}