.capitals {
    padding: 2.5rem 4rem 0;
    &__header {
        margin-bottom: 1.5rem;
    }
    &__list-min-max {
        margin-bottom: 1.25rem;
    }
    &__list {}
    &__item{
        display: flex;
        font-weight: 900;
        color: $gray-dark;
    }
}