.search {
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
    border-bottom: 1.25px solid $color-terciary;
    margin: 0 auto;

    @include respond(phone) {
        width: 45rem;
    }
    @include respond(tab) {
        width: 45%;
        display: flex;
        justify-content: center;
    }
    &__form-group {
        position: relative;
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $gray-dark-1;
        position: absolute;
        top: 0;
        right: 2rem;
    }
    &__form-input {
        border: 1px solid $color-primary-dark;
        padding: 1.5rem 2rem 1rem;
        font-size: 1.6rem;
        width: 100%;
        &::placeholder {
            font-weight: 100;
        }
        @include respond(phone) {
            width: 41rem;
        }
    
    }
}