.container{
    width: calc(100% - (100%/2));
    margin: 0 auto;
    
    @include respond(tab-port){
        width: 70%;
    }

    @include respond(phone){
        width: 95%;
    }
}

.container-lg{
    width: calc(100% - 2*(100%/3));
    margin: 0 auto;

    @include respond(tab-port){
        width: 60%;
    }

    @include respond(phone){
        width: 95%;
    }

}
