$white: #ffffff;
$black: #000000;

$gray-dark-1:#515151;

$color-primary: #ff8000;
$color-primary-dark: #c55000;
$color-primary-light: #ffb043;

$color-secondary: #FCCA00;

$color-terciary: #FEF4E2;
$color-dark: #ccbfb2;
$color-secondary: $white;

