$white: #ffffff;
$black: #000000;

$color-primary: #ff7f00;
$color-primary-dark: #c55000;
$color-primary-light: #ffb043;

$color-primary-secondary: #fff2e4;
$color-primary-dark: #ccbfb2;
$color-primary-secondary: $white;

