.footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    &__brand{
        font-size: $font-size-sm;
        margin: auto 0;
    }
    &__nav-item{
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}
