body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}
a{
    &,
    &:link,
    &:active,
    &:visited{
        color: $primary-color;
        text-decoration: none;
    }
    &:hover{
        color: $primary-color-dark;

    }
}

.title-secondary{
    color: $primary-color;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: $font-size-md;
    text-align: center;
}

.txt--gray-dark{
    color: $gray-dark;
}

.home{
    color: $white;
    &__title{
        font-family: 'Roboto Slab', serif;
        font-size: $font-size-lg;
    }
    &__subtitle{
        font-size: 1.5rem;
        color: $gray-light;
        font-weight: 400;
       text-align: center;
    }
    &__short-form{
        color: $orange !important;
    }
}

.top-links{
    font-size: $font-size-default;
    &__link{
        font-weight: 700;
    }
    &__hints{
        color: $gray-dark;
    }
}