.home{
    background-color: pink;
    background-image: url('../../assets/background-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    @include absFlexCenter;
    &__container{
        @include absFlexCenter; 
    }
    &__title{
        font-family: 'Roboto Slab', serif;
        font-size: 3.5rem;
        margin: 0 0 1rem 0 ;
    }
    &__subtitle{
       margin-bottom: 5rem;
    }
   
}